img {
    display: block;
    width: 100%;
    aspect-ratio: 1.5 / 1;
}

.slider-img {
    position: relative;
}

.centered-t {
    position: absolute;
    left: calc(50% - 16px);
    top: 1rem;
    border-radius: 50%;
}

.centered-b {
    position: absolute;
    left: calc(50% - 16px);
    bottom: 1rem;
    border-radius: 50%;
}